
.student-dashboard {
    font-family: 'Outfit', sans-serif;
    padding-top: 80px;
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
  }
  
  .dashboard-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 2rem;
    width: 100%;
    height: 100%;
  }
  
  .left-side, .right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .lastAttendedTutors{
    height: 50%;
  }
  .plan{
    height: 100%;
  }
  @media (max-width: 768px) {
    .dashboard-container {
      grid-template-columns: 1fr; 
    }
  }
  
  @media (max-width: 576px) {
    .navbar-nav {
      display: none;
    }
  
    .navbar-login {
      margin-left: auto;
    }
  }
