/* StudentProgress.css */

.student-progress {
  background-color: #F7F2ED; 
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures contents are spaced evenly */
  height: 50%; /* Set to take full available height */
}


.header {
  display: flex; /* Use flex to align items */
  align-items: center; /* Center vertically */
  margin-bottom: 1.5rem; /* Space below the header */
}

.student-progress h3 {
  font-size: 1.5rem;
  margin: 0; /* Remove default margin */
}

.slide-up-image {
  width: 30px; /* Set width of the image */
  height: auto; /* Maintain aspect ratio */
  margin-left: 5px; /* Add space between text and image */
}

.progress-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.progress-item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5em;
}

.progress-item strong {
  font-size: 1rem;
}

.progress-item p {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  font-weight: bold;
}
