*{
    font-family: 'Outfit', sans-serif;
}

.assignment-pending-container {
    padding: 20px;
    margin: 7em 4em 3em 4em; 
    display: flex;
    justify-content: center;
  }
  
  .assignment-box {
    background-color: #F7F2ED;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 2500px; 
    width: 100%;
  }
  
  .subject-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .subject-title {
    font-size: 2.5rem; 
    font-weight: bold;
  }
  
  .time-remaining, .tutor-name {
    font-size: 1.5rem; 
    color: #333;
    line-height: 2;
  }
  
  .question-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .question-text {
    font-size: 1.2rem; 
    color: #333;
    line-height: 1.6;
  }
  
  .answer-submission {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom: 20px;
    width: 100%;
  }
  
  .answer-textarea {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem; 
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 10px;
  }
  
  .answer-submission h4 {
    margin: 1rem 0 0.5rem 0; 
    font-size: 1.5rem; 
  }
  
  .submit-button,
  .upload-button {
    background-color: #FE6635;
    color: #fff;
    font-size: 1.2rem; 
    padding: 15px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
    max-width: 250px; 
    text-align: center;
    margin: 10px auto; 
  }
  
  .or-text {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
  }
  