.tutor-dashboard {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

.left-section {
  flex: 0 0 25%;
}

.right-section {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .tutor-dashboard {
    flex-direction: column;
  }

  .left-section, 
  .right-section {
    flex: 1 1 100%;
    width: 100%;
  }
}
