.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.tutor_logo span {
  font-size: 32px;
  font-weight: 700;
  color: black;
}

.tutor_logo img {
  height: 35px;
  margin-right: 10px;
}

.tutor_logo {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.login-form {
  position: relative;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  background-color: white;
  overflow: hidden;
}

.login-input-bg {
  background-image: url('../assets/SignInBackground.png');
  width: 100%;
  height: 100%;
  margin: 1em 0;
  color: black;
}

.login-input-container {
  position: relative;
  margin-bottom: 10px;
}

.login-input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.login-input {
  width: 100%;
  padding: 10px;
  padding-left: 40px; /* Adds space for the icon */
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #FE6635;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.login-button:hover {
  opacity: 90%;
}

.or {
  text-align: center;
  margin: 10px 0;
  color: black;
}

.login-google-button {
  width: 100%;
  padding: 10px;
  color: black;
  background-color: #F7F2ED;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.login-google-button:hover {
  opacity: 90%;
}

.forgot-password {
  text-align: right;
  margin: 10px 0;
}

.forgot-password a {
  color: #FE6635;
  text-decoration: none;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
  color: black;
}

.signup-link a {
  color: #FE6635;
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-bottom: 10px;
}

.login-category-radio{
  display: flex;
  gap: 20px;
}

.login-category-radio label{
  margin-right: 10px;
}